body {
    background-color: #725DBB;
    color: #fff;
}

h1 {
    font-size: 100px;
    padding: 0;
    margin: 0;
}
h2 {
    font-style: italic;
    color: e7e3f3;
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.name {
    padding: 70px;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;
    font-family: 'Century Gothic', sans-serif;

}