body {
    margin-top: 5%;
    /* background-color: #292524; */
    background-color: #d7ddde;
    color: #fff;
    font-family: CallunaSans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h1 {
    font-size: 60px;
    padding: 0;
    margin: 0;
}
h2 {
    font-style: italic;
    color: e7e3f3;
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.name {
    padding: 30px;
}
.box{
    /* width: 450px; */
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
    /* padding: 20px; */
    text-align: center;
    margin: auto;
    color: white;
    border-radius: 100px;
}

.logo {
    width: 250px;
    border-radius: 175px;
    margin-top: 20px;
}

.info {
    margin-top:20px
}

.info-item {
    margin-top:10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
font-size: 35px;
margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.info-item span:hover, .nav_link:hover {
    color: rgba(236, 198, 255, 0.846);
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /* Set a width to cover the entire line */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    display: flex;
    justify-content: flex-end;
}

.nav_list {
    list-style: none;
    margin-top: 20px;
    padding: 0;

}

.nav_item {
    display: inline-block;
    margin-right: 20px;
}

.nav_link {
    text-decoration: none;
    color: white; /* Adjust link color as needed */
}

.vempo-logo {
    width: 30%;
    height: auto;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.spare-pals-logo {
    width: 30%;
    height: auto;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.spare-pals-logo:hover, .vempo-logo:hover {
    transform: scale(1.1);
}

.logo:hover {
    filter: saturate(0.2);
}

#projects, #about {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.4);
}

#projects li a {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about p {
    margin: 0 50px;
}

.pinar-b {
    width: 30%;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10%;
    object-fit: cover; 
    margin-right: 20px; 
}

.pinar-b:hover {
    filter: saturate(0.2);
}

.pinar-info {
    display: flex;
    align-items: center;
    gap: 10px;
}